/* Reset */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utilities Classes */
.container
{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
/* Main styling */
body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a
{
  color: #333;
  text-decoration: none;
}
h1,h2,h3
{
  padding-bottom: 20px;
}
p{
  margin: 10px 0;
}
/* Navbar */
#NAVBAR
{
  background:#333;
  color: #fff;
  overflow: auto;
}
#NAVBAR a
{
  color: #fff;
}
#NAVBAR h1
{
  float:left;
  padding:20px;
}
#NAVBAR ul
{
  list-style: none;
  float: right;
}
#NAVBAR ul li
{
  float:left
}
#NAVBAR ul li a
{
  display: block;
  padding: 20px;
  text-align: center;
}
#NAVBAR ul li a:hover,#NAVBAR ul li a.current
{
  background: #444;
  color:#f7c08a;
}